@charset "utf-8";

p {
  color: white;
}

.subtitle {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.text {
  font-size: 32px;
  line-height: 48px;
}

img {
  width: 450px;
  height: 300px;
  object-fit: cover;
}

header {
  background-color: #2d8525;
}

header div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 157px;
}

.logo {
  width: 190px;
  height: 125px;
  margin: 0 16px;
  object-fit: none;
}

nav {
  width: 100%;
}

nav ul {
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100%;
}

.MV {
  background-color: #98ad51;
}

.MV img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.overview {
  width: 100%;
  background-color: #98ad51;
  display: flex;
}

.overview section {
  width: 100%;
  margin: 40px 80px;
}

.day {
  background-color: #b6903d;
  justify-content: space-around;
  padding: 40px 0;
}

.day div {
  justify-content: space-around;
  text-align: center;
  margin: 20px;
}

.day img {
  margin: 20px;
}

.day .text {
  margin-top: 8px;
  text-align: center;
}

.day .contents {
  display: flex;
}

.menus {
  background-color: #99834b;
  width: 100%;
  padding: 50px 0;
}

.menu {
  width: 100%;
  margin: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;

  background-image: linear-gradient(
    to right,
    #fff,
    #fff 10px,
    transparent 10px
  );
  background-size: 20px 10px;
  background-position: left bottom;
  background-repeat: repeat-x;
  /* border-bottom: #fff dotted 20px; */
}

.menu div {
  width: 50%;
  text-align: center;
}

.menu:nth-child(odd) {
  flex-direction: row-reverse;
}

.access {
  background-color: #98ab51;
  width: 100%;
  padding: 50px 0;
}

.access .contents {
  display: flex;
  justify-content: space-around;
}

.access .texts {
  margin: 20px;
}

.access img {
  padding: 0;
}

footer {
  background-color: #3f6620;
}

footer p {
  padding: 40px 0;
  text-align: center;
}

@media screen and (min-width: 550px) {
  .sp-menu {
    display: none;
  }

  .overlay {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .pc-menu {
    display: none;
  }

  /* nav ulに対してdisplay:block;でflexを解除 */
  nav ul {
    display: block;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    font-size: 50px;
    color: #fff;
    position: fixed;
    right: 0px;
    margin: 18px 18px 0 0;
    background-color: #2d8525;
  }

  .sp-menu {
    margin-left: auto;
  }

  .sp-menu #open {
    font-size: 32px;
    /* line-height: 64px; */
    cursor: pointer;
  }

  /* .sp-menu #hide {
    opacity: 0;
  } */

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #3f6620;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
  }

  .overlay.show {
    opacity: 0.8;
    pointer-events: auto;
  }

  .overlay #close {
    position: absolute;
    margin: 18px 18px 0 0;
    cursor: pointer;
  }

  .overlay ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* padding 左右0px ないとダメ　何故 */
    padding: 64px 0px;
  }

  .overlay li {
    margin-top: 24px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity 0.3s, transform 0.3s;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
  }

  /* 変数 or 関数使いたい */
  .overlay.show li:nth-child(1) {
    transition-delay: 0.1s;
  }

  .overlay.show li:nth-child(2) {
    transition-delay: 0.2s;
  }

  .overlay.show li:nth-child(3) {
    transition-delay: 0.3s;
  }

  .overlay.show li:nth-child(4) {
    transition-delay: 0.4s;
  }

  .overlay.show li:nth-child(5) {
    transition-delay: 0.5s;
  }

  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  .contents {
    padding: 24px;
  }

  .subtitle {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
    line-height: 40px;
  }

  .logo {
    width: 190px;
    height: 125px;
    margin: 0 16px;
    object-fit: none;
  }

  .MV img {
    height: 400px;
  }

  .overview {
    display: block;
    margin: 0;
  }

  .overview section {
    width: 100%;
    margin: 0;
  }

  .day {
    width: 100%;
    text-align: center;
  }

  .day .contents {
    display: block;
  }

  .day img {
    margin: 0;
  }

  .menus {
    width: 100%;
  }

  .menu {
    display: block;
    text-align: center;
    margin: 0;
    padding: 32px 0;
    width: 100%;
  }

  .menu div {
    width: 100%;
  }

  .menu p {
    padding: 0 32px 24px 32px;
  }

  .access {
    text-align: center;
  }

  .access .contents {
    display: block;
  }
}
